runs/
results/
graphs/
bin/
obj/
qrels/
*.layout
*~
*.swp
*.html
html/
*.cbp
*.pydevproject
*.project
.metadata/
contrib/
site-search/
modIndriSetup/
depend/
swig/
.ipynb_checkpoints/
.ropeproject/
*key.txt
.RData
.Rhistory
wsdm12/
